		<section>
			<div class="about">
				<h2>About Us</h2>
				<p>
					In 2016 after ending his illustrious career in the NBA Kobe Byrant, our founder, felt lost. He decided he needed to dominate another field; bakery. Kobe had kept his love for baking to himself for years as he practiced for hours coming up with the perfect recipe's for cakes and pastries. Kobe now brings the same legendary competitiveness that he brought on the basketball court to the kitchen.
				</p>

				<p class= "quote">
					"Kobe is synonymous with two things, beef and basketball, but now it's time to add sweets to that list."
				</p>
			</div>
		</section>

		<section>
			<h2>Order Online</h2>
			<div class= "order_grid">
				<div>
					<img src="images/cake.jpg">
					<p>Cakes</p>
				</div>
				<div>
					<img src="images/cookie.jpg">
					<p>Cookies</p>
				</div>
				<div>
					<img src="images/muffin.jpg">
					<p>Muffins</p>
				</div>		
			</div>
		</section>

		<section>
			<h2>Contact</h2>
			<p>Come visit us!</p>
			<p>Locatated at:1111 S Figueroa St, Los Angeles, CA 90015</p>
			<p>Phone: 248-248-2424</p>
		</section>
