<!DOCTYPE html>
<html>
<head>
	<title>Kobe's Bakery</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="main.css">
	<link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
</head>
<body>
		
		<h1 class="logo">Kobe's Bakery</h1>
		
		<nav>
			<ul>
				<li><a href="/">Home</a> | </li>
				<li><a href="/#about">About</a> | </li>
				<li><a href="/#menu">Menu</a> | </li>
				<li><a href="/#events">Events</a> | </li>
				<li><a href="/#contact">Contact</a></li>
			</ul>
		</nav>

		<div class="page_container">
		
			<%=yield%>

		</div>	

		<footer>
			<p>&copy; Kobe's Bakery 2018</p>
			<p> Amarpreet Walia </p>
		</footer>

	<script type='text/javascript' src='app.js'></script>

</body>
</html>