<!DOCTYPE html>
<html>
<head>
	<title>Kobe's Bakery</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="main.css">
	<link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">
</head>
<body>
	<div class="page_container">
		
			<h1>Kobe's Bakery</h1>
		
		<nav>
			<ul>
				<li>Home |</li>
				<li>About |</li>
				<li>Menu |</li>
				<li>Events |</li>
				<li>Contact</li>
			</ul>
		</nav>

		<%=yield%>

	</div>	

	<script type='text/javascript' src='app.js'></script>

</body>
</html>