<!DOCTYPE html>
<html>
<head>
	<title>Kobe's Bakery</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
		
		<h1 class="logo">Kobe's Bakery</h1>
		
		<nav>
			<ul>
				<li>Home | </li>
				<li>About | </li>
				<li>Menu | </li>
				<li>Events | </li>
				<li>Contact</li>
			</ul>
		</nav>

		<div class="page_container">
		
			<%=yield%>

	</div>	

	<script type='text/javascript' src='app.js'></script>

</body>
</html>